.iconButton {
  display: inline-block;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background: transparent;
  border: 0;
  appearance: none;

  display: flex;
  align-items: center;
  gap: 1ch;
  justify-content: center;

  &[data-block="true"] {
    justify-content: space-between;
    width: 100%;
  }

  &:focus-visible {
    outline: 2px solid currentcolor;
    outline-offset: 2px;
  }
}
