@use "abstracts/mixins/base";
@use "abstracts/functions";

.container {
  & a {
    color: var(--color-font-accent);
    text-decoration: none;

    &:hover,
    &:focus-visible {
      color: var(--color-font-accent);
      text-decoration: underline;
    }
  }
}

.navDesktop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--size-spacing-s);

  @media (--tablet-max) {
    display: none;
  }

  & > div:nth-child(2) {
    justify-self: center;
  }

  & > div:nth-child(3) {
    justify-self: end;
    text-transform: uppercase;
  }
}

.navMobile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  & > div:last-child {
    justify-self: end;
  }
  @media (--tablet) {
    display: none;
  }
}

.paginationList {
  display: flex;
  gap: var(--size-spacing-3xs);

  & li {
    padding-inline: var(--size-spacing-3xs);

    &:not(:first-child) {
      list-style-type: "/";
    }
  }

  & a {
    &[aria-current="page"] {
      color: inherit;
    }
  }
}
