.shareList {
  display: flex;
  gap: var(--size-spacing-2xs);

  --size-button-icon: var(--size-spacing-s);

  &[data-variant="large"] {
    justify-content: space-between;
    --size-button: var(--size-spacing-xl-2xl);
    --size-button-icon: var(--size-spacing-m);
  }
}
