.widgetBackground {
  --widget-background-color: "#313333";
  --widget-padding: clamp(5px, -2.5px + 0.977vw, 10px);

  display: flex;
  flex-direction: column;
  place-self: center center;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  padding: var(--widget-padding);
  font-size: 0.75rem;
  background-color: var(--widget-background-color);
  border-radius: calc(var(--widget-padding) / 2);
}

.condensedBackground {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-column: 1 / -1;
  gap: var(--widget-padding);
  place-items: center center;
  position: relative;
  
  /* Declare container in order to use cqi later down */
  container-type: inline-size; 
}

.condensedBackground > svg, 
.condensedBackground > span {
  grid-area: 1 / 1; 
  z-index: 1;       
}

.condensedBackground > span {
  z-index: 1;

  /* Fluid resizing of text relative to SVG */
  font-size: clamp(1rem, 20cqi + 0.5rem, 5rem);
}