.badgeList {
  display: inline-flex;
  gap: var(--size-spacing-3xs);
  flex-wrap: wrap;
}

.badge {
  --height-badge: 50px;
  --size-radius-border: calc(var(--height-badge) / 2);

  background-color: var(--color-rubin-teal-100);
  border: 2px solid transparent;
  border-radius: var(--size-radius-border);
  display: inline-flex;
  gap: var(--size-spacing-3xs);
  align-items: center;
  padding-inline: var(--size-spacing-2xs);
  text-decoration: none;

  &:hover,
  &:focus {
    border-color: currentcolor;
    outline: none;
  }

  & > svg {
    & > path:first-child {
      fill: var(--color-rubin-teal-500);
    }
  }
}

.filteredResults {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--size-spacing-3xs);
  font-weight: 600;
  font-size: 1.25rem;
}
