.searchFieldset {
  --height-search: var(--height-filter-controls, 50px);
  --radius-border-search: calc(var(--height-search) / 2);

  border: 2px solid transparent;
  border-radius: var(--radius-border-search);
  height: var(--height-search);
  padding: 0;
  margin: 0;
  display: flex;
  white-space: nowrap;

  &:focus-within {
    border-color: currentcolor;
  }
}

.search {
  color: var(--color-font-primary);
  font-weight: 600;
  height: 100%;
  padding: var(--size-spacing-3xs);
  vertical-align: middle;
  background-color: var(--color-background-page-primary);
  border: none;
  border-radius: 0 var(--radius-border-search) var(--radius-border-search) 0;
  flex-grow: 1;

  &:not(:disabled):focus {
    outline: none;
  }
}

.searchSubmit {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: var(--size-spacing-3xs) var(--size-spacing-3xs)
    var(--size-spacing-3xs) var(--size-spacing-s);
  vertical-align: middle;
  background-color: var(--color-background-page-primary);
  border-radius: var(--radius-border-search) 0 0 var(--radius-border-search);

  &:not(:disabled):focus {
    outline: none;
  }
}
