@use "abstracts/mixins/appearance";
@use "abstracts/mixins/base";
@use "abstracts/functions";

.c-search-bar {
  @include base.fluid-scale(
    toggle-width,
    75px,
    60px,
    functions.break(tablet),
    functions.break(mobile)
  );
  position: relative;
  height: 100%;
  overflow: hidden;
  font-size: 0.818em;
  font-weight: functions.font-weight(bold);
  color: functions.palette(white);

  &__toggle {
    position: absolute;
    width: var(--toggle-width);
    top: 0;
    left: 0;
    height: 100%;

    svg {
      transform: translateY(10%);
    }
  }

  &__form {
    display: flex;
    align-items: center;
    width: var(--toggle-width);
    height: 100%;
    transition: width 0.35s ease-in-out, background-color 0.35s ease-in-out, visibility 0s 0.35s;
    visibility: hidden;

    &--is-open {
      width: 468px;
      background-color: functions.palette(black);
      visibility: visible;
      transition: width 0.35s ease-in-out, background-color 0.35s ease-in-out;

      @include base.respond(functions.header(breakpoint-for-search-bar)) {
        // overlap logo
        width: calc(var(--header-width, 100vw) - var(--width));
        min-width: 55vw;
      }
    }
  }

  &__input {
    @include appearance.input-unstyled;
    @include base.fluid-scale(
      width,
      functions.header(button-width-tablet),
      functions.header(button-width-mobile),
      functions.break(tablet),
      functions.break(mobile)
    );

    width: calc(100% - var(--width));
    margin-left: var(--width);

    &.focus-visible {
      outline-width: 0;
    }
  }
}
