.item {
  color: var(--color-font-invert);
  list-style: none;
  background-color: var(--color-background-tile-light);

  &:nth-of-type(1n + 1) {
    --color-accent-item: #30e0e3;
  }

  &:nth-of-type(2n + 2) {
    --color-accent-item: #ffe266;
  }

  &:nth-of-type(3n + 3) {
    --color-accent-item: #fbb363;
  }

  &:nth-of-type(4n + 4) {
    --color-accent-item: #ff9966;
    --color-overlay-item: #30e0e3;
  }
}

.link {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  padding: var(--size-spacing-2xs);

  &:hover,
  &:focus-within {
    --outline-counter: 4px solid #fff;
    --opacity-image-overlay: 0.7;

    outline: none;
  }

  &::after {
    background-color: var(--color-overlay-item, var(--color-accent-item));
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    mix-blend-mode: hard-light;
    opacity: var(--opacity-image-overlay, 0);

    @media (prefers-reduced-motion: no-preference) {
      transition: opacity 0.2s;
    }
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-spacing-2xs);
  text-align: center;
  white-space: nowrap;
  position: relative;
  text-shadow: 0 0 8px #000, 0 0 8px #000, 0 0 8px #000, 0 0 8px #000,
    0 0 8px #000, 0 0 8px #000, 0 0 8px #000, 0 0 8px #000;
  z-index: 1;

  &::before {
    aspect-ratio: 1;
    background-color: var(--color-accent-item);
    border-radius: 50%;
    color: var(--color-font-primary);
    content: attr(data-count);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size-spacing-l);
    outline: var(--outline-counter);
    text-shadow: none;
    font-weight: bold;
  }
}

.image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  inset: 0;
}
