.header {
  padding-block-end: var(--size-spacing-3xs);
  margin-block-end: var(--size-spacing-m);
  border-block-end: 10px solid var(--color-rubin-teal-300);
  font-weight: 900;
}

.link {
  margin-block-start: var(--size-spacing-l);
}
