@use "abstracts/functions";

.c-subnav-list {
  position: absolute;
  z-index: -5;
  max-width: 47vw;
  max-height: calc(100vh - calc(var(--header-height) * 2));
  overflow: auto;
  color: var(--color-font-primary);
  visibility: hidden;
  transition: transform 0.25s ease-in-out, visibility 0s 0.25s;

  .c-nav-list--mobile & {
    top: 0;
    left: 0;
    width: functions.header(nav-width-mobile);

    &--is-active {
      transform: translateX(-100%);
      visibility: visible;
      transition: transform 0.25s ease-in-out;
    }
  }

  .c-nav-list--desktop & {
    top: 100%;
    left: 0;
    width: functions.header(nav-width-desktop);
    transform: translateY(-100%);

    &--is-active {
      transform: translateY(0);
      visibility: visible;
      transition: transform 0.25s ease-in-out;
    }
  }

  &__item {
    position: relative;

    &:first-child::after {
      position: absolute;
      bottom: 0;
      left: functions.header(nav-link-padding-lateral);
      display: block;
      width: calc(100% - #{2 * functions.header(nav-link-padding-lateral)});
      height: 1px;
      content: "";
      background-color: currentcolor;

      .c-nav-list--mobile & {
        left: functions.header(nav-link-padding-lateral) / 2;
        width: calc(
          100% - #{2 * functions.header(nav-link-padding-lateral) / 2}
        );
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: functions.header(nav-link-padding-lateral);
    text-decoration: none;
    background-color: var(--color-background-tile-light);
    transition: color 0.2s, background-color 0.2s;

    &:hover,
    &:focus-visible,
    &--is-active {
      color: functions.palette(white);
      background-color: functions.palette(turquoise50);
    }

    .c-nav-list--mobile & {
      padding: 0.8em functions.header(nav-link-padding-lateral);
    }
  }
}
