.container {
  width: 100%;
  font-weight: bold;
}

.galaxies {
  display: flex;
  gap: var(--size-spacing-2xs);
  justify-content: space-between;
}

.galaxy {
  fill: var(--color-fill-galaxy);
  height: var(--size-spacing-2xl);
  transition: 0.1s fill ease-out;
}

.item {
  --color-fill-galaxy: #626666;
  position: relative;
  padding-block-end: var(--size-spacing-l);

  &:hover {
    --translate-y-label: var(--size-spacing-xs);
    --opacity-label: 1;

    &:nth-of-type(1) {
      --color-fill-galaxy: #ed4c4c;
    }

    &:nth-of-type(2) {
      --color-fill-galaxy: #fbb363;
    }

    &:nth-of-type(3) {
      --color-fill-galaxy: #ffe266;
    }

    &:nth-of-type(4) {
      --color-fill-galaxy: #3cae3f;
    }

    &:nth-of-type(5) {
      --color-fill-galaxy: #006da8;
    }

    &:nth-of-type(6) {
      --color-fill-galaxy: #f5f5f5;
    }
  }

  &:last-of-type {
    .label {
      left: unset;
      right: 0;
    }
  }
}

.label {
  color: var(--color-font-invert);
  position: absolute;
  left: 0;
  bottom: var(--size-spacing-xs);
  opacity: var(--opacity-label, 0.6);
  white-space: nowrap;
  transform: translateY(var(--translate-y-label, 0));
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
}
