.metadataGrid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-spacing-s);

  @media (--mobile) {
    grid-template-columns: 2fr 1fr;
  }
}

.metadataBlocks {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: var(--size-spacing-l);
}

.metadataLinks {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: var(--size-spacing-l);
}
