.metadataGrid {
  display: grid;
  gap: var(--size-spacing-s);
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

.metadataBlocks {
  display: grid;
  gap: var(--size-spacing-l);
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
}

.metadataLinks {
  display: grid;
  gap: var(--size-spacing-l);
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
}
