.credit {
  margin-block-start: var(--figure-padding);
}

.actionsRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-block-start: var(--figure-padding);
}

.imageWrapper {
  aspect-ratio: var(--w) / var(--h);
  width: var(--w);
  max-width: 100%;
  position: relative;
  margin: 0 auto;
}

.closeLink {
  aspect-ratio: 1;
  background-color: var(--color-border-button-tertiary);
  color: var(--color-font-invert);
  padding: var(--size-spacing-3xs);
  position: absolute;
  line-height: 0;
  top: 0;
  right: 0;
}

.scheme {
  font-weight: bold;
}

.dateCreated {
  display: block;
  font-weight: bold;
}
