.tagList {
  &[data-no-break="true"] {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1ex;
  }
}

.tag {
  a {
    color: var(--color-font-accent);
  }

  &[data-no-break="true"] {
    display: inline-block;
    white-space: nowrap;
  }
}
