.figure {
  --figure-padding: 0;

  position: relative;

  &:has(a:focus-visible),
  &:has(a:hover) {
    & .image {
      filter: invert(25%) sepia(80%) saturate(102%) hue-rotate(130deg)
        brightness(100%) contrast(100%);
      opacity: 0.7;
    }
  }
}

.image {
  background-color: var(--color-background-tile-light);
  opacity: 1;
  transition: filter 0.2s ease 0s, opacity 0.2s ease 0s;
}

.caption {
  display: block;
  margin-block-start: var(--size-spacing-2xs);
}

.captionLink {
  composes: caption;

  color: var(--color-background-accent-aside);
  text-decoration: none;

  &:focus-visible {
    outline: none;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
  }
}
